{% extends 'core/template.html' %}
{% load static %}

{% block titulo %}
<title>¡Bienvenido!| Cesfam</title>
{% endblock titulo %}

{% block all %}
<div class="container-fluid">
    <!--<h1 class="text" style="text-align: center; color: rgb(0, 76, 255); font-family: Lobster; "><br><b>Generar
                prescripciones<b></h1>
                -->
    {% if request.user.is_staff %}
    <br>
    <br>
    <br>
    {% endif %}

    <div class="row carta " style="margin-top: 1%">
        <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto form-body"
            style="width: 100%; margin-top: 7%; margin-bottom: 10%; border-color: #02fa17; ">
            <div class="card-header" style="text-align: center;">
                <div class="h1 card-tittle  " style="font-family:Goldman;text-decoration:none; font-size: 500%;">Agregar
                    sucursal
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="{% url 'sucursal' %}" class="btn btn-success mb-1 boton"> <i
                            class="bi bi-arrow-return-left" style="width: 30%; height: 30%;"></i> Volver</a>
                </div>
                <div class="col-8"></div>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div style="border-color: #02fa17">
                        <div class="row" style="text-align: center;">

                            <div class="form-body" style="width:100%; height:100%" >

                                <div class="row">
                                    <!--Aqui va el formulario de añadir sucursal-->
                                    <form action="{% url 'addsucursal' %}" method="post" class="form-control">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="form-control btn btn-success">Guardar</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


{% endblock all %}