{% extends 'core/template.html' %}
{% load static %}

{% block titulo %}
<title>¡Bienvenido!| Cesfam</title>
{% endblock titulo %}

{% block all %}
<div class="container-fluid">
    <!--<h1 class="text" style="text-align: center; color: rgb(0, 76, 255); font-family: Lobster; "><br><b>Generar
                prescripciones<b></h1>
                -->
                {% if request.user.is_staff %}
                <br>
                <br>
                <br>
                    {% endif %} 
    <div class="row carta ">
        {% if messages %}
            {% for message in messages %}
                <div class="mt-5 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto form-body"
            style="width: 15rem; margin-top: 7%; margin-bottom: 10%; border-color: #02fa17; ">
            <br><img src="{% static 'core/img/stock.jpg' %}" class="card-img-top" alt="..."
                style="width:190px;height:155px;">
            <div class="carta " style="text-align: center;margin-right: 30%; ">
                <br>
                <div class="h4" style="text-decoration-color: black; margin-left: 20%;">Stock</div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"><a href="{% url 'stock' %}" class="btn btn-success mb-3 boton">Ver</a>
                    </div>
                    <div class="col-4"></div>
                </div>
                <!--MEJORAR-->
                <!--poner href la url como sale abajo, para ver el detalle del producto-->
                <div class="col-md-10">
                </div>
            </div>
        </div>
        <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto form-body"
        style="width: 15rem; margin-top: 7%; margin-bottom: 10%;border-color: #02fa17">
        <br><img src="{% static 'core/img/verprescripcion.jpg' %}" class="card-img-top" alt="..."
            style="width:190px;height:155px;">
        <div >
                <br>
                <div class="h5" style="text-decoration-color: black; margin-left: 20%;">Prescripciones</div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"><a href="{% url 'pres' %}" class="btn btn-success mb-3 boton">Ver</a></div>
                    <div class="col-4"></div>
                </div>
                <!--CREAR HTML Y CODIGO-->
                <div class="col-md-10">
                </div>
            </div>
        </div>
        <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto form-body"
        style="width: 15rem; margin-top: 7%; margin-bottom: 10%;border-color: #02fa17">
        <br><img src="{% static 'core/img/verprescripcion.jpg' %}" class="card-img-top" alt="..."
            style="width:190px;height:155px;">
        <div >
                <br>
                <div class="h5" style="text-decoration-color: black; margin-left: 20%;">Reservas</div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"><a href="{% url 'res' %}" class="btn btn-success mb-3 boton">Ver</a></div>
                    <div class="col-4"></div>
                </div>
                <!--CREAR HTML Y CODIGO-->
                <div class="col-md-10">
                </div>
            </div>
        </div>
        {% if request.user.is_staff %}
        <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto form-body"
        style="width: 15rem; margin-top: 7%; margin-bottom: 10%;border-color: #02fa17">
        <br><img src="{% static 'core/img/sucursal.png' %}" class="card-img-top" alt="..."
            style="width:190px;height:155px;">
        <div >
            <br>
            <div class="h5" style="text-decoration-color: black; margin-left: 30%;">Sucursales</div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><a href="{% url 'sucursal' %}" class="btn btn-success mb-3 boton">Ver</a></div>
                <div class="col-4"></div>
            </div>
            <!--CREAR HTML Y CODIGO-->
            <div class="col-md-10">
            </div>
        </div>
    </div>
    <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto form-body"
        style="width: 15rem; margin-top: 7%; margin-bottom: 10%;border-color: #02fa17">
        <br><img src="{% static 'core/img/usu.jpg' %}" class="card-img-top" alt="..."
            style="width:190px;height:155px;">
        <div >
            <br>
            <div class="h5" style="text-decoration-color: black; margin-left: 30%;">Usuarios</div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><a href="{% url 'registro' %}" class="btn btn-success mb-3 boton">Crear usuario</a></div>
                <div class="col-4"></div>
            </div>
            <!--CREAR HTML Y CODIGO-->
            <div class="col-md-10">
            </div>
        </div>
    </div>
        {% endif %} 

    </div>
</div>


{% endblock all %}